@charset "UTF-8";

/*=========================
common ↓↓↓↓↓↓
=========================*/

html {
  font-size: 62.5%;
}

body {
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #333333;
  font-weight: 500;
}
header{
  background: #ffffff;
}
a {
  color: #fff;
  text-decoration: none;
}

/*
a { color: #333;
text-decoration: none;}
a:link { color: #333;}
a:visited { color: #7f7f7f; }
a:hover {
color: #e2694a;
font-weight: inherit;
text-decoration: none;
}
a:active { color: #f0b4a4;}

a img { transition: opacity 0.2s linear; }
a:hover img { opacity: 0.5; }
a:active img { opacity: 0.8; }
*/

img {
  display: block;
  width: 100%;
}

.font-size--S {
  font-size: 1.2em;
}

.font-size--M {
  font-size: 1.4em;
}

.font-size--L {
  font-size: 1.6em;
}

.font-size--LL {
  font-size: 2.0em;
}
.text {
  margin: 10px 0;
  line-height: 1.6;
}
.col-red{
  color: #bd243d;
}
.col-white{
  color: #ffffff;
}
.col-brown{
  color: #a64301;
}
.bg-col-blue {
  background-color: #d8efff;
}
.bg-col-green {
  background-color: #e3ffd8;
}
.bg-col-yellow {
  background-color: #fffcd8;
}
.bg-col-pink {
  background-color: #ffe4eb;
}

.pt10 {
  padding-top: 10px;
}
.pt20 {
  padding-top: 20px;;
}
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}

.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}

@media print, screen and (min-width: 769px) {
  .font-size--S {
    font-size: 1.4em;
  }

  .font-size--M {
    font-size: 1.6em;
  }

  .font-size--L {
    font-size: 2.0em;
  }

  .font-size--LL {
    font-size: 3.0em;
  }
}

.fw--bold {
  font-weight: bold;
}

.d-block {
  display: block;
}

table {
  border-collapse: collapse;
}

@media print, screen and (min-width: 769px) {
  .sp {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.inner {
  padding: 0 10px;
}

.container, .inner, .wrapper {
  margin: 0 auto;
}

@media print, screen and (min-width: 769px) {
  .container, .inner, .wrapper {
    max-width: 1000px;
  }
}

.btn-back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  opacity: 0.7;
}

@media print, screen and (min-width: 769px) {
  body {
    min-width: 1080px;
  }
}

/*=========================
/common ↑↑↑↑↑↑
=========================*/
/*=========================
style ↓↓↓↓↓↓
=========================*/
/*=========================
header ↓↓↓↓↓↓
=========================*/

.header-top {
  width: 100%;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 70px;
}

.header-logo {
  height: 70px;

  /*&__link {
  	height: 70px;
  	display: flex;
  	align-items: center;
  }*/
}

.header-logo__img {
  height: 40px;
  width: auto;
  margin-top: 10px;
  margin-left: 10px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 10px;
}

.header-nav__list-item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.nav-recruit {
  position: relative;

  &::before {
    content: "";
    background-image: url(../img/new.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -12px;
    left: -15px;
    width: 30px;
    height: 15px;
  }
}

.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-nav2 {
  background: url(../img/slide-area-bg.jpg);
  background-size: contain;
  width: 100%;
}

.header-nav2__list-item a {
  color: #151515;
  font-weight: bold;
  line-height: 1.925;

  &:hover {
    opacity: 0.7;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}

.header-nav2__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto 30px;
}

.header-nav2__list-item {
  width: 48%;
  padding: 9px;
  text-align: center;
  margin: 0 auto;
}

@media print, screen and (min-width: 769px) {
  .header-top, .header-logo {
    height: 140px;
  }

  .header-logo__img {
    height: 96px;
    width: auto;
    margin-top: 17px;
    margin-left: 10px;
  }

  .header-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-right: 20px;

    &.font-size--S {
      font-size: 2.0em;
    }
  }

  .header-nav__list-item {
    margin-right: 50px;

    &:last-of-type {
      margin-right: 0px;
    }
  }

  .nav-recruit::before {
    top: -20px;
    left: -25px;
    width: 100px;
    height: 25px;
  }

  .header-nav2 {
    max-width: 1000px;
    margin: 35px auto 55px;
    background: none;
  }

  .header-nav2__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header-nav2__list-item {
    width: auto;
  }
}

/*============
メインビジュアル ↓↓↓↓↓↓
==============*/

.main-visual__img {
  margin: 20px auto 0 auto;
  max-width: 1050px;
}

.main-visual__description {
  line-height: 1.8;
  width: 95%;
  max-width: 1000px;
  margin: 30px auto;
}

/*============
メインページスライダー ↓↓↓↓↓↓
==============*/

.swiper-parent {
  position: relative;
  
}

.swiper-container {
  max-width: 100%;
  margin: 30px 0 15px;
  padding-bottom: 50px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-pagination-bullet, .swiper-pagination-bullet-active {
  width: 15px;
  height: 15px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 16px;
}

.swiper-pagination-bullet-active {
  color: #163f98;
}

@media print, screen and (min-width: 769px) {

.swiper-parent {
  background: url(../img/slide-area-bg.jpg);
  background-size: contain;
  width: 100%;
}
  
.swiper-slide-active {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  margin-top: 13px;
}

.swiper-slide-prev, .swiper-slide-next {
  -webkit-transform: scale(0.85, 0.85);
  transform: scale(0.85, 0.85);
  opacity: 0.5;
}
.swiper-container {
  margin: 60px 0 50px;
}
}

/*============
ボタンエリア ↓↓↓↓↓↓
==============*/

.btn-area {
  background: url(../img/btn-area-bg.png);
  background-position: center center;
  margin: 0 0 50px;
}

.btn-flex--area {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;

  .btn-flex--item {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 40%;
    padding-top: 20px;

    &:first-child {
      margin-top: -15.5px;
    }
  }
  
}


@media print, screen and (min-width: 769px) {
  .btn-area {
    background: url(../img/btn-area-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 0 50px;
  }

  .btn-flex {
    margin: 30px auto;
  }

  .btn-flex--area {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    .btn-flex--item {
      max-width: 300px;
      width: auto;
      margin:0;
  
      &:first-child {
        margin: -20px 0 0;
      }
  }
  }
}

/*============
NEWSエリア ↓↓↓↓↓↓
==============*/

.news-area {
  background: url(../img/news-bk.jpg);
  background-position: center center;
  margin: 0 0 50px;
  padding-bottom: 40px;
}

.news-sidebar {
  width: 95%;
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.3rem;
  margin: 0 auto;
}
.news-sidebar--title {
  height: 90%;
}
.news-sidebar--box {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

.news-sidebar--text {
  width: 90%;
  margin: 0 auto;
}

.news-sidebar--red {
  margin: 15px 3px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  padding: 5px;
  border-radius: 7px;
  text-align: center;
}

.news-sidebar--list {
    padding: 10px 10px 10px 40px;
    margin: 0 0 20px;

    li {
      span {
        font-weight: bold;
      }

      position: relative;

      &::before {
        content: '■';
        display: block;
        width: 1em;
        height: 1em;
        position: absolute;
        left: -7.5%;
        top: 0;
        color: #96bfed;
      }
    }
}

.news-sidebar--line {
  width: 95%;
  text-align: center;
  margin: 0 auto;
}

.news-container {
  width: 95%;
  background-color: #fff;
  border-radius: 10px;
  font-size: 1.6rem;
  margin: 30px auto 30px;
  padding: 5px 10px 10px;
}

.news-container--title {
  width: 90%;
  margin: 0 auto;
}

.news-container--table {
  dl {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }

  dt {
    float: left;
    padding: 12px 30px 17px 10px;      
  }

  dd {
    border-bottom: 1px dotted #ccc;
    padding: 12px 5px 17px;
    color: #0d4c9b;

    &:last-child {
      border-bottom: none;
    } 
  }
}

@media print, screen and (min-width: 769px) {

  .news-area {
    background-repeat: no-repeat;
  }

  .news-flex {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .news-sidebar {
    width: 250px;
    font-size: 1.4rem;
  }

  .news-sidebar--text {
    padding: 5px;
  }

  .news-sidebar--line p{
    font-size: 1.7.71rem;
    font-weight: bold;
    text-align: center;
    width: 95%;
  }

  .news-sidebar--list {
    padding: 10px 10px 10px 20px;
  }

  .news-container {
    position: relative;
    width: 725px;
    font-size: 1.6rem;
    padding-top: 40px;
    margin:30px 0 70px;
  }

  .news-container--title {
    position: absolute;
    top: -40px;
    left: 40px;
    max-width: 650px;
    margin: 0 auto;
  }

  .news-container .first-title {
    top: -76px;
    left: 55px;
  }

  .news-container--table {
    dl {
      width: 90%;
      margin: 0 auto;
      padding: 25px;
    }

    dt {
      float: left;
      padding: 12px 30px 17px 10px;      
    }

    dd {
      border-bottom: 1px dotted #ccc;
      padding: 12px 5px 17px;
      color: #0d4c9b;

      &:last-child {
        border-bottom: none;
      } 
    }
  }
}

  .news-container .secound-table {
    margin-top: 30px;
  }


/*============
トピックスエリア ↓↓↓↓↓↓
==============*/

.topics-area {
  background: url(../img/topics-bk.png);
  position: relative;
  background-size: contain;
  width: 100%;
}

.topics-title {
  max-width: 50%;
  margin: 0 auto 70px;
}

.topics-container {
  position: relative;
  width: 95%;
  margin: 0 auto 60px;
  border-radius: 10px;
  padding-bottom: 20px;

  .topics-container--main {
    position: absolute;
    top: -42px;
  }

  .topics-container--title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2d458f;
    padding: 55px 15px 10px;

    h3 {
      margin-top: 10px;
    }
  }

  .topics-container--img {
    width: 90%;
    margin: 0 auto 15px;
  }

  .topics-container--text {
    font-size: 1.8rem;
    width: 90%;
    margin: 0 auto;
    line-height: 2.2rem;
    letter-spacing: .1rem;
  }

  .topics-container--btn {
    padding: 10px;
    width: 90%;
    text-align: center;
    font-size: 1.6rem;
    margin: 10px auto 0;
    border-radius: 7px;
    background-color: white;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

  }
  .btn-blue {
    border: 1px solid #1a429a;

    a {
      color: #1a429a;
    }
  }

  .btn-orange {
    border: 1px solid #e9614b;

    a {
      color: #e9614b;
    }
  }

  .btn-violet {
    border: 1px solid #822f44;

    a {
      color: #822f44;
    }
  }

}

@media print, screen and (min-width: 769px) {
  .topics-title {
    max-width: 35%;
  }
  .topics-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .topics-container {
    max-width: 490px;

    .topics-container--main {
      top: -20px;
    }

    .topics-container--title {
      margin-top: 50px;
    }

    .topics-container--img {
      width: 68%;
      display: inline-block;
      padding: 5px 5px 5px 10px;
    }

    .topics-container--text {
      width: 30%;
      display: inline-block;
      vertical-align:top;
      font-size: 1.4rem;
      line-height: 2.5rem;
    }
  }
  
}

/*============
summary ↓↓↓↓↓↓
==============*/

.bottom {
  position: relative;
  height: 10vh;
}

.bottom-picture {
  position: absolute;
  bottom: -10px;
}

@media print, screen and (min-width: 769px) {
    .bottom {
      height: 28vh;
    }

    .bottom-picture {
      position: absolute;
      bottom: -25px;
    }

}


/*============
summary ↓↓↓↓↓↓
==============*/
/*
&__bg-gray {
margin: 50px auto;
padding-bottom: 30px;
width: 100%;
background-color: #E0E0E0;
background: radial-gradient(at center 30%,#fff, #E0E0E0 80%);
border-radius: 15px;
position: relative;
}
*/

.summary {
  margin-top: 70px;

  /* &__decoration {
  	width: 70%;
  	margin-top: -35px;
  	position: absolute;
  } */
}

.summary__bg-gray {
  margin: 50px auto;
  padding-bottom: 30px;
  width: 100%;
  background-color: #c2c2c2;
  border-radius: 15px;
  position: relative;
}

.summary__main-visual {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.summary__main-visual-img {
  border-radius: 15px 15px 0 0;
}

.summary__top {
  z-index: 0;
  background-color: #1a81e0;
  background-color: #949494;
  border-radius: 15px 15px 0 0;
  height: 67vw;
  position: relative;
  background-repeat: no-repeat, no-repeat;
  background-position: left 50% bottom , 0% 20%;
  background-size: contain, cover;

  &::before {
    content: "";
    background-image: url(../img/open-pop.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: -50px;
    left: 10px;
    min-width: 70px;
    max-width: 90px;
    width: 20vw;
    height: 100px;
  }

  &::after {
    content: "";
    background-image: url(../img/logo-symbol.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 90px;
    top: -60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.summary__title {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

.summary__bg-white {
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 20px;
}

.summary__description {
  line-height: 1.6;
  margin: 0 auto;
  width: 80%;
}

.summary__overview {
  margin: 0 auto;
}

.summary__overview-photo {
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;

  &:last-child {
    padding-bottom: 20px;
  }
}

.summary__overview.type02 .summary__overview-photo:last-child {
  padding-bottom: 0;
}

.kiji_keisai img {
  width: 95%;
  height: auto;
  margin: 0 auto;
}

.summary__map {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}

.summary__google-map-container {
  text-align: center;
}

.summary__google-map {
  width: 80vw;
  height: 60vw;
}

.summary__map-caption {
  margin-top: 10px;
}

.summary__guide {
  background-color: #333333;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.summary__guide-ic {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.summary__guide-ic-img {
  width: 40%;
}

.summary__guide-text {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.summary__construction {
  width: 70%;
  margin: 30px auto 0;
}

@media print, screen and (min-width: 769px) {
  .summary {
    margin-top: 100px;
  }

  .container--summary {
    max-width: 970px;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  .summary__bg-gray {
    margin-bottom: 80px;
  }

  .summary__title {
    padding-top: 60px;
  }

  .summary__top {
    max-height: 451px;
    height: 72vw;

    &::before {
      content: "";
      background-image: url(../img/open-pop.png);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: -56px;
      left: -26px;
      min-width: 161px;
      max-width: 161px;
      width: 20vw;
      height: 180px;
    }

    &::after {
      content: "";
      background-image: url(../img/logo-symbol.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      width: 100%;
      height: 126px;
      top: -80px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .summary__title {
    width: 637px;
  }

  .summary__description {
    margin: 0 auto;
    width: 90%;
  }

  .summary__overview {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .summary__overview-photo {
    width: 30%;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
  }

  .summary__overview.type02 .summary__overview-photo {
    width: 45%;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
  }

  .kiji_keisai {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .summary__bottom-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .summary__map {
    width: 45%;
    margin: 0 auto;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .summary__google-map-container {
    width: 100%;
  }

  .summary__google-map {
    width: 80%;
    height: 200px;
  }

  .summary__map-caption {
    margin-top: 10px;
    width: 80%;
  }

  .summary__guide {
    width: 80%;
  }

  .summary__construction {
    width: 55%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .summary__construction-img {
    width: 90%;
  }
}

/*============
recruit ↓↓↓↓↓↓
==============*/

.container--recruit {
  width: 90%;
}

.recruit {
  background-color: #f8f6e1;
}

.recruit__description-area {
  position: relative;
}

.recruit__title {
  width: 80%;
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.recruit__lead {
  padding-top: 6vw;
}

.recruit__text {
  margin-top: 20px;
  line-height: 1.6;
}

.recruit__content-title {
  color: #fff;
  background-color: #999999;
  text-align: center;
  border-radius: 5px;
  line-height: 2;
  margin-top: 30px;
}

.recruit__table {
  width: 100%;
  margin-top: 30px;

  tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  th {
    background-color: #e6e6e6;

    /* border: 1px #adadad solid; */
    -webkit-box-shadow: 0 0 0 1px #adadad;
    box-shadow: 0 0 0 1px #adadad;
    font-weight: bold;
    width: 30%;
    padding: 5px;
    line-height: 1.4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  td {
    background-color: #fff;

    /* border: 1px #adadad solid; */
    -webkit-box-shadow: 0 0 0 1px #adadad;
    box-shadow: 0 0 0 1px #adadad;
    font-weight: bold;
    width: 70%;
    padding: 5px;
    line-height: 1.4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.recruit__content-text {
  line-height: 1.4;
  margin-top: 15px;
}

.recruit-contact {
  background-color: #163f98;
  border-radius: 10px 10px 30px 30px;
  margin-top: 50px;
}

.recruit-contact__title {
  color: #fff;
  text-align: center;
  padding: 10px;
  line-height: 1.4;
}

.recruit-contact__content {
  background-color: #fff;
  border-radius: 10px;
}

.recruit-contact__text {
  text-align: center;
  font-size: 1.8em;
  padding-left: 10px;
  padding-right: 10px;

  &:first-of-type {
    padding-top: 20px;
  }

  &:last-of-type {
    padding-top: 10px;
    font-size: 1.6em;
  }
}

.recruit-contact-info {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  &:first-of-type {
    margin-top: 30px;
  }

  &:last-of-type {
    padding-bottom: 15px;
  }
}

.recruit-contact-info__mark {
  width: 36px;
}

.recruit-contact-info__text {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.recruit-contact-info__text--address {
  font-size: 1.8em;
}

.recruit-contact-info__text--tel {
  font-size: 2.4em;
  color: #777777;
}

@media print, screen and (min-width: 769px) {
  .recruit__title {
    max-width: 620px;
    top: -40px;
  }

  .recruit__lead {
    padding-top: 6%;
    max-width: 800px;
    margin: 0 auto;
  }

  .recruit__text {
    max-width: 800px;
    margin: 20px auto 0;
  }

  .recruit__table {
    th, td {
      padding: 10px;
      line-height: 1.6;
    }
  }

  .recruit__table--1 {
    th {
      width: 20%;
    }

    td {
      width: 40%;
    }

    .colspan2 {
      width: 80%;
    }
  }

  .recruit__table--2 {
    th {
      width: 16%;
    }

    td {
      width: 21%;
    }

    .colspan2 {
      width: 42%;
    }

    .colspan4 {
      width: 84%;
    }
  }

  .recruit-contact__text {
    font-size: 2.2em;

    &:last-of-type {
      font-size: 1.8em;
    }
  }

  .recruit-contact-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .recruit-contact-info {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 15px;
    margin-top: 30px;

    &:first-of-type {
      margin-right: 30px;
    }

    &:last-of-type {
      padding-bottom: 15px;
    }
  }

  .recruit-contact-info__mark {
    width: 36px;
  }

  .recruit-contact-info__text--address {
    font-size: 2.4em;
    max-width: 250px;
    width: 100%;
  }

  .recruit-contact-info__text--tel {
    font-size: 3.0em;
    max-width: 280px;
    width: 100%;
  }
}

/*============
footer ↓↓↓↓↓↓
==============*/

.footer {
  background: #dfdfdf;
  .nav {
    background-color: #dfdfdf;
    .list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      &.container {
        border-bottom: 1px dotted #9f9f9f ;
        margin-bottom: 15px;
      }
      .list-item {
        margin: 10px 2%;
        width: 46%;
        a {
          color: #333333;
          font-weight: 700;
        }
      }
    }
  }
.info {  
  .info__address{
    text-align: center;
    .f_logo{
      max-width: 300px;
      width: 50%;
      margin: auto;
    }
  }
  .list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;    
      a {
        color: #333333;
      }
    }
    .tel{
      text-align: center;      
      & a{
        color: #1d3076;
        font-weight: 700;
      }
    }
  }
}
.footer__copy-write {
  width: 100%;
  background-color: #40567d;
  color: #fff;
  text-align: center;
  line-height: 1.4;
  padding: 10px 5px;
}

@media print, screen and (min-width: 769px) {
  .footer__img, .footer__copy-write {
    width: 100vw;
  }
}


// 追加
.lead .leadImage,.recommend .list__img{
  border-radius: 15px;
}
section{
  margin-bottom: 30px;
}
section.recommend{
  padding-bottom: 30px;
}
.lead p {
  font-weight: 700;
}
.recommend{
  .title{
    padding: 30px 0;
      img{
        width: 250px; 
        margin:auto;
      }
  }
  dl{
    display: flex;
    margin-bottom: 20px;
    .list__img{
      width: 40%;
      margin: auto 10px auto auto; 
    }
    dt,dd{
      margin-top: 10px;
    }
  }
}
.topics{
  .title{
    padding-bottom: 20px;
      img{
        width: 150px; 
        margin:auto;
      }
    }
  .list{
    .list__item{
      background: #ffffff;
      padding: 10px;
      margin-bottom: 10px;
      h3{
        color: #1d3076;
      }
      time{
        display: block;
        text-align: right;
      }
    }
  }
  .category{
    .list{
      .list__item{
        text-align: center;
        font-weight: 700;
        border: 2px solid #1d3076;
        border-radius: 10px;
        max-width: 300px;
        margin: 15px auto;
        a{
          color: #1d3076;
          display: block;
          position: relative;
          &::before{
            position: absolute;
            top: -25%;
            left: 0.5em;
            content: '';
            display: inline-block;
            width: 50px;
            height: 30px;
            background-image: url(../img/icon_01.png);
            background-size: contain;
            background-repeat: no-repeat;
          }
          &::after{
            position: absolute;
            top: 28%;
            right: 0.5em;
            content: '';
            border-style: solid;
            border-width: 5px 0 5px 8px;
            border-color: transparent transparent transparent #1d3076;
          }
        }
      }
      .list__item:nth-child(2){
        a::before{
          background-image: url(../img/icon_02.png);
        }
      }
      .list__item:nth-child(3){
        a::before{
          background-image: url(../img/icon_03.png);
        }
      }
    }
  }
}
/*----------------syokuniku----------------*/
.whole-wrapper.syokuniku{
 background-color: #d3a776;
 background-image: url(../img/syokuniku_bg.png);
  
}
.recommend.syokuniku{
  background-color: #eddcc8;  
 background-image: url(../img/syokuniku_bg.png);
 .title{
  content: ''; 
  width: 100%;
  height: 120px;   
  background-image: url(../img/syokuniku_title_01_bg.jpg);  
  background-size: contain;
  background-position: bottom;
  margin-bottom: 20px;
  position: relative;
  .ttl_text{
    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  }
    .ttl_icon{
      width: 80px;
      height: auto;
      position: absolute;
      top: 5px;
      left: -5px;
    }
    .ttl_icon:nth-child(2){
      top: auto;
      bottom: -15px;
      left: 7px;
}
    
    .ttl_icon:nth-child(3){
      left: auto;
    right: 5px;
    bottom: auto;
    }
    .ttl_icon:nth-child(4){
      left: auto;
    right: -5px;
    top: auto;    
    bottom: -15px;
    }
 }
}

.topics.syokuniku{
  .title{
    content: ''; 
  width: 100%;
  height: 120px;   
  background-image: url(../img/syokuniku_title_02_bg.png);  
  background-size: contain;
  background-position: bottom;
  margin-bottom: 20px;
}
}


/*----------------kouryubussankan----------------*/

.whole-wrapper.kouryubussankan .flag {
  background-color: #f6fbfa;
}

.whole-wrapper.kouryubussankan .flag .text {
  font-weight: bold;
  padding-bottom: 80px;
}

.whole-wrapper.kouryubussankan .sub-visual {
  margin-top: -50px;
}

.whole-wrapper.kouryubussankan .flex-wrapper ul {
  display: flex;
}

.whole-wrapper.kouryubussankan .card {
  background-color: #fbf075;
}

.whole-wrapper.kouryubussankan .card.kouryubussankan .flex-wrapper ul {
  display: flex;
  justify-content: space-between;
  padding: 0 0 50px;
}

.whole-wrapper.kouryubussankan .card.kouryubussankan .flex-item {
  margin-right: 10px;

  &:last-child {
    margin-right:0;
  }
}

.whole-wrapper.kouryubussankan .card.kouryubussankan .text {
  padding-top: 55px;
  margin:0 0 30px;
}

.whole-wrapper.kouryubussankan .button {
  background-color: #4f9ad2;
  border-radius: 7px;
  text-align: center;
  width: 90%;
  margin: 30px auto 10px;
}

.whole-wrapper.kouryubussankan .button-area .flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
}

.whole-wrapper.kouryubussankan .button a {
  position: relative;
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 90%;

  &::after {
    position: absolute;
    content: '>';
    display: inline-block;
    right: 2rem;
    top: 32%;
  }

  &::before {
    position: absolute;
    top: 28%;
    left: 1.1em;
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(../img/kouryubussankan/icon01.png);
    background-size: contain;
    background-repeat: no-repeat;

  }
}

.whole-wrapper.kouryubussankan .button.button-access a {
  &::before {
    background-image: url(../img/kouryubussankan/icon02.png);
  }
}

.whole-wrapper.kouryubussankan .bottom::after {
  content: '';
  position: absolute;
  background-color: #1876bb;
  height: 30px;
  width: 100vw;
  bottom: 0;
  z-index: -10;
}

@media print, screen and (min-width: 769px) {
  
  .whole-wrapper.kouryubussankan .button {
    max-width: 460px;
    margin: 45px auto 100px;
  }
  .whole-wrapper.kouryubussankan .button a {
    width: 460px;
    padding-top: 37px;
    padding-bottom: 37px;
    padding-left: 50px;

    &::before {
      width: 90px;
    }
  }

}

/*----------------newtopics----------------*/

.main-visual.newtopics  {
  background: url(../img/newtopics/news-bk-img.png);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.main-visual.newtopics .main-visual__img {
  padding: 30px 30px 30px;
  width: 50%;
  margin: 0 auto;
  background:rgba(255, 255, 255, 0.6);

}

.topics.newtopics {
  background-color: #edf8f8;
}



/*# sourceMappingURL=style.css.map */